.THIS .content-center{
    text-align:center;
}

.THIS .form-grid-padding{
    padding-left: .75rem;
    align-self: flex-end;
    padding-right: .75rem;
}


.THIS .click{
    color: #eb0a0a;
    cursor: pointer;
}