/**
 * Created by prasad on 18.06.20.
 */

 *{
    font-family: "HelveticaNeue", Helvetica;
 }
 
.slds-card__footer {
    text-align: center;
}

.slds-card {
    border:0;
}
.fix-height{
    max-height: 48px;
    height: 48px;
    margin-bottom:8px;
}
.fix-height img{
    height: 40px;
    width: 40px;
}

.slds-media__figure{
    width :100%;
    text-align: center;
}

.slds-card__body_inner{
    text-align: center;
}

.box-title{
    color: #444444;
    margin-bottom: 16px;
}
.box-title h4{
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    margin: 2.5rem auto 1.5rem;
    font-weight: bold;
}

.description{
    color: #666666;
    line-height:1.5;
    letter-spacing:0px;
    min-height: 72px;
    min-width: 272px;
}

.customButton{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    font-size:16px !important;
    font-weight : 500;
    background: #EB0A0A;
    border-radius: 4px;
    padding: 14px 24px;
    text-transform: none;
    color: #ffffff;
    border-color: #EB0A0A;
    border-width: 2px;
    border-style: solid;
    min-width: 135px;
    transition: all .2s;
    outline: none;
    line-height:19px;
}

.customButton:hover{
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.13);
}