# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce cache
.sfdx/
.sf/
.localdevserver/

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# LWC Jest coverage reports
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# SF Metadata Fiels that are not needed
force-app/main/default/objects/Account/webLinks/GoogleMaps.webLink-meta.xml
force-app/main/default/objects/Account/webLinks/GoogleNews.webLink-meta.xml
force-app/main/default/objects/Account/webLinks/GoogleSearch.webLink-meta.xml
force-app/main/default/objects/Account/webLinks/slackv2__Send_to_Slack.webLink-meta.xml
force-app/main/default/objects/Account/webLinks/slackv2__Slack_Alerts.webLink-meta.xml
force-app/main/default/objects/Campaign/webLinks/ViewAllCampaignMembers.webLink-meta.xml
force-app/main/default/objects/Campaign/webLinks/ViewCampaignInfluenceReport.webLink-meta.xml
force-app/main/default/objects/Case/webLinks/slackv2__Send_to_Slack.webLink-meta.xml
force-app/main/default/objects/Case/webLinks/slackv2__Slack_Alerts.webLink-meta.xml
force-app/main/default/objects/Contact/webLinks/GoogleMaps.webLink-meta.xml
force-app/main/default/objects/Contact/webLinks/GoogleSearch.webLink-meta.xml
force-app/main/default/objects/Contact/webLinks/slackv2__Send_to_Slack.webLink-meta.xml
force-app/main/default/objects/Contact/webLinks/slackv2__Slack_Alerts.webLink-meta.xml
force-app/main/default/objects/Lead/webLinks/GoogleMaps.webLink-meta.xml
force-app/main/default/objects/Lead/webLinks/GoogleNews.webLink-meta.xml
force-app/main/default/objects/Lead/webLinks/GoogleSearch.webLink-meta.xml
force-app/main/default/objects/Lead/webLinks/slackv2__Send_to_Slack.webLink-meta.xml
force-app/main/default/objects/Lead/webLinks/slackv2__Slack_Alerts.webLink-meta.xml
force-app/main/default/objects/Opportunity/webLinks/slackv2__Send_to_Slack.webLink-meta.xml
force-app/main/default/objects/Opportunity/webLinks/slackv2__Slack_Alerts.webLink-meta.xml
