.ev-background{
    background-size: cover;
    height: 100%;
    width: 100%;
    background-image: url('https://ev-smartmoney--c.documentforce.com/servlet/servlet.ImageServer?id=0157T000000c6NN&oid=00D5I000002GOw0');
     
}

.ev-header{
    padding-top: 3em;
    padding-bottom: 3em;
    max-width: 36em;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0.01em;
    text-align: center;

}

.ev-image img{
    height: 10em;
}

.ev-desription{
    padding-bottom: 12em;
    padding-top:4em;
    max-width: 36em;
    color:#777777;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: center;

}