* {
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande;
    box-sizing: border-box;
    color: #444;
    font-weight: 400;
}

a {
    color: #EB0A0A;
}

.ev-padding-top_large-x {
    padding-top: 40px;
}

.ev-padding-top_large {
    padding-top: 32px;
}

.ev-padding-top_medium {
    padding-top: 24px;
}

.ev-padding-top_small {
    padding-top: 16px;
}

.ev-padding-top_small-x {
    padding-top: 8px;
}
 

.ev-margin-top_large-x {
    margin-top: 40px;
}

.ev-margin-top_large {
    margin-top: 32px;
}

.ev-margin-top_medium {
    margin-top: 24px;
}

.ev-margin-top_small {
    margin-top: 16px;
}

.ev-margin-top_small-x {
    margin-top: 8px;
}

.ev-agent_referal-header {
     
    padding: 16px;
}

.ev-agent_referal-header_heading {
    color:#444444;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: center;
}

.tc-checkbox{
    min-width: 3em;
}

.ev-agent_referal-header_points {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.ev-agent_referal-header_point {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 16px;
    min-width: 12em;
}
.ev-agent_referal-header_point img{
    height:24px;
    padding-right:8px;
}

.ev-agent_referal-header_point span {
    border: 1px solid #EB0A0A;
    color:#EB0A0A;
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
  
 }

.header-step {
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0em;
}

.header-title {
    font-size: 34px;
    line-height: 41px;
}

.header-subtitle {
    font-size: 16px;
    line-height: 26px;
}

.max-page-width {
    max-width: 1024px;
    margin: auto;
}

.refreal-link_pill {
    background: #F9F9F9;
    border: 1px solid #BCBDBC;
    padding: 24px;
    border-radius: 4px;
    word-break: break-word;
    align-items: center;
    text-align: center;
}

.refreal-link_pill .title {
    color: #141414;
    font-weight: 700;
    size: 14px;
}

.refreal-link_pill .copy-msg {
    color: green;
}

.refreal-instruction {
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
}

.info-image, .info-image_referal {
    padding: 4em;
    display: block;
}

.info-image img, .info-image_referal img {
    margin-left: auto;
    margin-right: auto;
    max-width: none;
    max-height: 580px;
}

.referal_description_container{
    justify-content:space-around;
}

.referal_description .icon img {
    max-height: 30px;
}

.referal_description {
    color:#444444;
    max-width: 120px;
    padding: 12px;
}
.referal_description .text{
    font-size: 16px;
}

.set-max-width {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.header-font {
    font-size: 32px;
    text-align: center;
}

.popup-referal_header {
    color:#444444;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.01em;
    text-align: center;
    font-weight: 700;
    max-width: 75%;
    margin: auto;
}

.popup-referal_description {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 75%;
    margin: auto;
}

.popup-referal_close {
    text-align: right;
    font-size: 20px;
   
}

.popup-referal_close img{
    width:8%;
    cursor: pointer;
}

.popup-referal_button {
    text-align: center;
}

.primaryButton,.primaryButton_popup {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    background: #EB0A0A;
    padding: 7px 66px;
    text-transform: none;
    color: #ffffff;
    border: none;
    transition: all .2s;
    outline: none;
}
.primaryButton_popup{
    padding: 10px 66px;
}

.secondaryButton {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    background: #444444;
    padding: 7px 66px;
    text-transform: none;
    color: #ffffff;
    border: none;
    transition: all .2s;
    outline: none;
}

.secondaryButton, .primaryButton:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.13);
}

.form-space-left {
    padding-left: 12px;
}

.form-space-right {
    padding-right: 12px;
}

.tc-link a{
    text-decoration: underline;
}

.drop_down_item{
    
    height: 48px;
    padding-left:  0.75em;
    padding-top:  0.75em;
    cursor: pointer;

}

.drop_down_container{
    border-radius: 0px;
    position: absolute;
    width: 100%;
    z-index: 5;
    background: white;
    box-shadow: 0 8px 15px 0 rgba(33, 33, 33, 0.2);
    border:1px rgb(201, 201, 201) solid;
}

@media screen and (max-width: 1000px) {
    .ev-agent_referal-header_points {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .ev-agent_referal-header_point{
        min-width: 18em;
    }
    .info-image {
        text-align: center;
        padding: 0;
        margin-top: 4em;
        display: none;
    }
    .info-image img, .info-image_referal img {
        max-width: 100%;
    }
    .ev-verticle-align_center-mobile {
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .ev-verticle-align_center-mobile .primaryButton {
        justify-content: center;
        width: 100%;
    }
    .ev-verticle-align_center-mobile .width-full {
        width: 100%;
    }
    .reverse-direction_mobile {
        flex-direction: column-reverse;
    }
    .popup-referal_header{
        font-size: 28px;
    }
   
}