@font-face {
    src: url('HelveticaNeue.ttc') format('truetype');
}

* {
    font-family: "HelveticaNeue", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande" !important;
}

.siteforceSldsOneColLayout  .contentRegion {
    padding: 0px !important;
}