.THIS .community-header {
    display: flex;
    border-bottom: 3px solid #EB0A0A;
    padding-bottom: 10px;
    padding-top: 38px;
    padding-left: 120px;
    padding-right: 120px;
    justify-content: space-between;
}

.THIS .community-header__item {
    display: flex;
    align-self: flex-end;
}

.THIS .community-header__item img {
    width: 220px;
    vertical-align:baseline;
}



.THIS .community-header .navigation div {
    margin-right: 20px;
}

.THIS .community-header__item-nav a {
    color: #000000;
    padding: 0px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 0px;
    text-decoration: none;
}

.THIS .community-header__item-nav a:hover,
.THIS .community-header-widget__item-nav a:hover {
    color: #EB0A0A;
}

.THIS .toggle {
    display: none;
}

.THIS .toggle-button {
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.THIS .toggle-button:focus {
    outline: none;
}

.THIS .toggle-button__bar {
    width: 100%;
    height: 2px;
    background: black;
    display: block;
    margin: 4px;
}

.THIS .mobile,
.THIS .wrap-item {
    align-self: center;
    display: none;
}

.THIS .community-header-backdrop {
    margin: 0;
    height: 100vh;
    width: 65vw;
    background: rgb(127,127,127,0.34);
    position: fixed;
    left: 0;
    top: 0;
}

.THIS .community-header-widget {
    margin: 0;
    z-index:1000;
    height: 100vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    background: white;
    position: fixed;
    right: 0;
    top: 0;
}

.THIS .community-header-widget__item-nav.align-right {
    align-self: flex-end;
    padding-bottom: 100px;
    padding-top: 10px;
    cursor: pointer;
}

.THIS .community-header-widget__item-nav {
    margin-bottom: 28px;
    padding: 0px 16px 0px 16px;
}

.THIS .community-header-widget__item-nav a {
    color: #000000;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    line-height: 1.64em;
    letter-spacing: 0px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: none;
    text-decoration: none;
    
}


@media (max-width:1024px) {
    .THIS .desktop {
        display: none;
    }
    
    .THIS .mobile {
        display: block;
    }
    
    
    .THIS .community-header {
        padding-top: 24px;
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .THIS .community-header__item img {
        width: 146px;
    }
    
    
}

@media (max-width: 767px) {
    
    .THIS .community-header {
        padding-top: 24px;
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .THIS .mobile,
    .THIS .wrap-item {
        display: block;
    }
    
    .THIS .community-header__item img {
        width: 144px;
    }
}