.THIS .red-text{
    color:red;
}

.THIS .content-center{
    text-align: center;
}

.THIS .inline-footer{
    position: sticky;
    bottom: 0;
}

.THIS .min-height-medium{
    min-height: 150px;
}

.THIS .min-width-medium{
     min-width: 580px;
}

.THIS .form-grid-padding{
    padding-left: .75rem;
    align-self: flex-end;
    padding-right: .75rem;
}