.THIS .align-center{
    text-align:center;
    align-self: center;
}

.THIS .button-align-form{
    align-self: flex-start;
    padding-top: 1.4rem;
}

.THIS .input-max-width{
    max-width: 10rem;
}