.hr_line{
  border-top: 0.0625rem solid #bcbcbc;
  background: white;
  padding-bottom: 1px;
 }

.ev-footer_wrapper{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width:960px;
  
}
.ev-footer_container{
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
  text-align: left;
} 

.ev-headline_text{
  font-weight: 600;
  color: #444;
  font-size: 14px;

}

.ev-headline_desctiption{
  font-size: 14px;
  color: #777;
}

.ev-footer__divider{
  margin: 0.8rem 0;
  width: 2.5rem;
  background-color: #eb0a0a;
  border: 0;
  height: 0.125rem
}

.ev-footer-list{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-top: 0.8rem;
  
}


.ev-footer-list_item{
  padding-top: 0.8rem;
}
.footer__link {
  color: #444!important;
  font-size: 14px!important;
  font-weight: 400!important;
  text-decoration: none!important;
}

.info-icon{
  height:24px;
  display:inline-block;
  padding-right:4px;
}

.footer_disclaimer{
  text-align: center;
  padding: 2rem 0;
  background-color: #F0F0F0;
}
.footer_disclainer_text{
  max-width:960px;  
  margin:auto;
  font-size: 14px;
  font-weight: 400;
  color: #444;
}

.footer__logo-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left:auto;
  margin-right:auto;
}


.footer__logo {
  display: flex;
  flex: 1 1;
  margin-bottom: .8125rem;
  flex-direction: column;
  height: auto;
  margin-bottom: 1.3125rem;
}

.footer__logo img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}


@media screen and (max-width: 1023px) {
  .info-icon{
      display:none;
      text-align:center;
  }
  .ev-footer_container{
      text-align:center;
      flex-direction: column-reverse;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
  }
  .ev-footer__divider{
      display:none;
  }

  .ev-footer-list_item{
      padding-top: 0.5rem;
  }

  .ev-headline_text{
      font-weight: 700;
  }

  .ev-headline_text{
      padding-top: 34px;
  }
  .footer__logo-row{
      max-width:540px;
     
  }
  .footer__logo img {
    max-width: 80%;
}

  .footer__logo{
      flex: 0 0 50%;
  }
  .footer__logo:last-of-type {
      flex: 0 0 20%;
      margin: 0 auto;
  }
 
  .footer__logo:after {
      background-color: #bcbcbc;
      content: "";
      height: .0625rem;
      margin-top: 1.3125rem;
      width: 100%;
  }
   .footer__logo:last-of-type:after {
      background-color: white;
       
  }
}